<div class="jumbotron">
  <h1>Welcome to Twit App!</h1>
  <% if current_user %>
    <h1>Hello, <%= current_user.name %>!</h1>
    <%= link_to "Show twitts", root_path, class: "btn btn-primary btn-lg" %>
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>