// Place all the styles related to the Twitts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-twitt {
	margin-bottom: 15px;
	textarea,
  .btn-twitt input{
		width: 100%;
	}
}

.twitt-list{
	border: 1px solid;
	margin-bottom: 10px;
	padding: 10px;
	.txt-image{
		display: flex;
		.twitt-image{
			width: 30%;
		}
	}
	.date{
		text-align: right;
	}
}